body{
    background-color: #1f1e1e;
}

header {
    height: 90px;
    box-sizing: border-box;
    background-color: rgba(7, 148, 33, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    
}
header ul#links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul#links li {
    margin-left: 20px;
}

header ul#links a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

a {
    color: rgb(163, 160, 160);
}

#logo {
    width: 5rem;
} 

#selfie { 
    width: 35%;
    position: absolute;
    left: 55%;
    top: 20%;
}


.aboutme {
    width: 45%;
    height: 100%;
    font-size: 30px;  
}

#abouth2{
    text-decoration: underline;
    text-align: center;
}

#githublogo {
     
    width: 10%;
}

#contactMe {
    font-size: 20px;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 55%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    width: 52.65%;
}

#contactMe{
    font-size: 40px;
}

#email{
    font-size: 40px;
}

.skillpic{
    width: 55px;
    height: 55px;
    box-sizing: border-box;
    padding: 0px;
   
}
.listSkills{
    display: flex;
    width: 30%;
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

 p ,h3, h2, header {
    font-family: "Titillium Web", serif;
    font-weight: 300;
    font-style: normal;
  }

  #contactMe{
    text-align: center;
    text-decoration: gray;
    text-decoration: underline;
    font-size: 5rem;
}

#portfolio{
        font-size: 2rem;
        text-decoration: underline;
}

#skills{
    font-size: 2rem;
    text-decoration: underline;
}

.skillpic{
    margin: 0 5px;
    
}

  @media (max-width: 516px) {
    header ul#links a {
        font-size: 20px;
    }

    header ul#links li {
        margin-left: 10px;
    }

    header {
        padding: 0 10px;
    }
    #logo{
        width: 4rem;
    }
    #selfie{
        position: relative;
        width: 140%;
        height: auto;
        left: 40%;
    }
    #aboutme{
        width: 215%;
    }
    .aboutme h2{
        width: 190%;
        font-size: 45px;
        text-align: center;
    }
    #portfolio{
        text-align: center;
        font-size: 30px;
    }
    #skills{
        text-align: center;
        font-size: 30px;
    }
    .collapsible{
        text-align: center;
        margin-left: 80px;
    }
    .content{
        margin-left: 65px;
    }
    .listSkills{
        margin-left: 67px;
    }
   #email{
    width: auto;
    font-size: 1.5rem;
   }
   #githublogo{
    width: auto ;
   }
}

@media (min-width: 516px) and (max-width:800px) {

#portfolio{
    text-align: center;
    font-size: 30px;
}
#skills{
    text-align: center;
    font-size: 30px;
}
.collapsible{
    text-align: center;
    margin-left: 170px;
}
.content{
    margin-left: 160px;
}
.listSkills{
    display: inline-flex;
    text-align: left;
    padding-left: 
}
#listbox{
    text-align: center;
    width: auto;
}

}






